<h1>Sign UP</h1>

<form action="/signup" method="POST">
  <label for="username">Username <input type="text" name="username"></label>
  <label for="email">Email <input type="email" name="email"></label>
  <label for="password">password <input type="password" name="password"> </label>
  <input type="submit" value="Signup" />
</form>
