<!-- <form method="POST" action="/signup">
  <label for="username">Username:</label>
  <input name="username" id="username" type="text"/>
  <label for="email">Email:</label>
  <input name="email" id="email" type="email"/>
  <label for="password">Password:</label>
  <input name="password" id"=password" type="password"/>
  <input type="submit" value="Create User"/>
</form> -->

<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="username">
  <label for="email">Email:</label>
  <input type="text" name="user[email]" id="email">
  <label for="password">Password:</label>
  <input type="password" name="user[password]" id="password">
  <input type="submit" value="Sign Up">
  <input class="btn btn-primary" type="submit">
</form>
