<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <header class="bg-light">
      <div class="container-fluid">
        <h1>Welcome to Fwitter</h1>
      </div>
    </header>
      <%=yield%>
  </body>
</html>
