<h2>Sign Up</h2>
<form action="/signup" method="POST">
  <label>Name: <input type="text" name="username"></label>
  <label>Email: <input type="text" name="email"></label>
  <label>Password: <input type="text" name="password"></label>
  <input class="btn btn-primary" type="submit">
</form>
